header{
    display: none;
}

img{
    width: 380px;
    max-width: 100%;
    max-height: 204px;
}

/* Opera*/

/*"Made with Streamlit"*/
.css-1q1n0ol{
    display: none;
}
.css-qri22k{
    display: none;
}
.css-2ykyy6{
    display: none;
}

/*Menu Streamlit*/
#MainMenu{
    display: none;
}
.viewerBadge_container__1QSob{
    display: none;
}

/*Título*/
.css-10trblm{
    text-align: center;
    /* color: rgb(138, 140, 255); */
    font-weight: bolder;
}


.css-eczf16{
    display: none;
}
.css-15zrgzn{
    display: none;
}

.css-12oz5g7{
    padding: none;
}


/* Cards */
.css-6awftf{
    display: none;
}
.css-e370rw{
    display: none;
} 

.css-1cpxqw2{
    background: rgb(243, 70, 70);
    color: white;
    width: 100%;
}
.css-1q8dd3e{
    background: rgb(243, 70, 70);
    color: white;
    width: 100%;
}

.css-1cpxqw2:hover{
    background: white;
    color: rgb(243, 70, 70);
    width: 100%;
}
.css-1q8dd3e:hover{
    background: white;
    color: rgb(243, 70, 70);
    width: 100%;
}
